<IfModule mod_rewrite.c>
  RewriteEngine On

  # Ha a public mappában lévő fájlra érkezett a kérés, szolgáld ki a fájlt
  RewriteCond %{REQUEST_URI} ^.*public/(.*)
  RewriteRule ^(.*)$ public/%1 [END]

  RewriteCond %{REQUEST_URI} ^.*assets/(.*)
  RewriteRule ^(.*)$ assets/%1 [END]

  # Minden más esetben az index.php-t futtasd le
  RewriteRule (.*) index.php [QSA]

  setEnv JWT_TOKEN_SECRET mysecret
  setEnv DB_HOST localhost
  setEnv DB_NAME boznanszkyk_bkes2023
  setEnv DB_USER root
  setEnv DB_PASS 

</IfModule>